.clockparent {
  display: block;
  margin: 0 auto;
  position: relative;
  --w: 240px;
  --h: 240px;
  width: var(--w) !important;
  height: var(--h) !important;
  svg.topCircle {
    position: absolute;
    width: var(--w);
    height: var(--h);
    top: 0;
    left: 0;
    color: burlywood;
    z-index: 10;
    &.nearovertime {
      color: white;
    }
    &.overtime {
      color: transparent;
      opacity: 0;
    }
    circle {
      stroke-dasharray: 690.4611206054688;
      transition-duration: 350ms;
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
    }
  }
  svg.bottomCircle {
    position: absolute;
    width: var(--w);
    height: var(--h);
    top: 0;
    left: 0;
    color: #242424;
    z-index: 9;
    &.nearovertime {
      color: indianred;
    }
    circle {
      transition-duration: 350ms;
    }
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--w);
    height: var(--h);
    h4 {
      font-size: 3em;
    }
  }
}
