.debateMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
}
.sidesplit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 48px 0;
  div {
    width: 50%;
    h2 {
      font-size: 22px;
      padding: 0 32px;
    }
  }
}
.sideitems {
  display: flex;
  flex-direction: row;
  width: 100%;
  * {
    width: 50%;
  }
}
.topPadding48 {
  padding-top: 48px;
}
.innerPadding0-48 {
  * {
    padding: 0 48px;
  }
}

.dotsSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 8px 0;
}
.dotGeneric {
  display: block;
  --dotsize: 12px;
  --dotcolor: #666;
  width: var(--dotsize);
  height: var(--dotsize);
  border-radius: 50%;
  // background: var(--dotcolor);
  border: 2px solid var(--dotcolor);
  &.dotFilled {
    background: var(--dotcolor);
  }
}
